$font-main: 'Roboto', sans-serif;

$color-primary: #1691d7;
$color-dark: #000000;
$color-light: #fff;
$color-bluelight: #1fb6ff;

$section-offset-mobile: 60px;
$section-offset-tablet: 156px;
$section-offset-desktop: 96px;

